@model IEnumerable<WebApplication1.Models.Reteta>

@{
    ViewBag.Title = "Peste";
}


<h2>Fel mancare: peste</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPublicare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipMasa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipBucatarie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriere)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Imagine)" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPublicare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipMasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipBucatarie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
        </tr>
    }

</table>

